interactions:
- request:
    body: '{"text": "What is it about?", "query_image": null, "rephrase": false, "rephrase_prompt":
      null, "generative_model": null, "semantic_models": null, "agentic_entities":
      false}'
    headers:
      Content-Type:
      - application/json
      x-stf-nuakey:
      - DUMMY
    method: POST
    uri: https://europe-1.dp.progress.cloud/api/v1/predict/query/00000000-0000-0000-0000-000000000001
  response:
    body:
      string: '{"detail":"Could not retrieve generative model info: Provider  not
        found"}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - 0228edb1441d30493da323e2882beead
    status:
      code: 512
      message: unknown
version: 1
