.Python
.DS_Store
.vscode
bin
bin/

share
__pycache__
*.egg-info
*.bak
lib
.eggs
g.db
g.db.blobs
pip-selfcheck.json
.idea
.cache
.ipynb_checkpoints
storage-stage.json
storage-prod.json
nats-server
logs/
logs_final/
pip-delete-this-directory.txt
.mypy_cache
.pytest_cache
train.log
draft.py
*cov.html/
.coverage
*.so
data
env.sh
appsecrets
regional-user.creds
dist
*_cov.xml
.coverage.*
.python-version
*.env.stage
*.env.local
.env
.env.*
!.env.example
pyvenv.cfg
*.ruff_cache
.venv
.devcontainer
.benchmarks
.ruff_cache
.ty
htmlcov/
build/
site/
node_modules/
*.pyc
