interactions:
- request:
    body: ''
    headers:
      x-nuclia-nuakey:
      - DUMMY
    method: GET
    uri: https://europe-1.dp.progress.cloud/api/authorizer/info
  response:
    body:
      string: '{"auth":"nua_key","user":{"identity_type":"nua_key","user_id":"7fe77405-a6de-43cf-ac27-ac09f80b66c6","account_id":"4f9285c7-7151-4431-94e6-3f1fb0d66aca","account_type":"v3enterprise","allow_kb_management":false},"ip_info":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
