interactions:
- request:
    body: ''
    headers:
      x-nuclia-nuakey:
      - DUMMY
    method: GET
    uri: https://europe-1.nuclia.cloud/api/authorizer/info
  response:
    body:
      string: '{"auth":"nua_key","user":{"identity_type":"nua_key","user_id":"03d47998-f672-4a9b-a57b-bde3a9c3ee8c","account_id":"4f9285c7-7151-4431-94e6-3f1fb0d66aca","account_type":"v3enterprise","allow_kb_management":false},"ip_info":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
